body,
ul,
li,
a {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: "微软雅黑";
}
.content {
  box-sizing: border-box;
}
.content .div1 {
  background: url(../images/home-bg.jpg);
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
}
.content .div1 .header {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.content .div1 .header .navbar {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.content .div1 .header .navbar li {
  box-sizing: border-box;
  float: left;
}
.content .div1 .header .navbar li a {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  width: 192px;
  font-size: 34px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}
.content .div1 .header .navbar li a.active {
  background: red;
}
.content .div1 .navFix {
  position: fixed;
  top: 0;
  left: 192px;
  z-index: 99999;
  line-height: 80px;
  height: 80px;
}
.content .div1 .change {
  font-size: 24px!important;
  font-weight: 400!important;
  color: white!important;
}
.content .div1 .fixbg {
  background: black;
  display: none;
  position: fixed;
  height: 80px;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: 1s;
}
.content .div2 {
  background: url(../images/bg-tile.png);
  width: 100%;
}
.content .div3 {
  background: #27AE60;
  width: 100%;
}
.content .div4 {
  background: #2980B9;
  width: 100%;
}
.content .div5 {
  background: #C0392B;
  width: 100%;
}
